###############################################################################
# SSG RHEL 7 Kickstart
#
# This script was written by Frank Caviggia, Red Hat Consulting
# Last update was 23 July 2015
# This script is NOT SUPPORTED by Red Hat Global Support Services.
# Please contact Rick Tavares for more information.
#
# Author: Frank Caviggia <fcaviggi@redhat.com>
# Copyright: Red Hat, (c) 2015
# Version: 1.0
# License: GPLv2
# Description: Installation of Hardened RHEL 7 using SSG
###############################################################################


###############################################################################
# Kickstart Configuration
###############################################################################
install
cdrom
lang en_US.UTF-8
keyboard us
text
firewall --service=ssh
authconfig --enableshadow --passalgo=sha512
selinux --enforcing
firstboot --disable
timezone --utc America/New_York

# Include hardening with kickstart options
%include /tmp/hardening
%include /tmp/partitioning

###############################################################################
# Package Selection
###############################################################################
%packages
# MINIMUM
@core
dracut-fips
fipscheck
logwatch
scrub
aide
vlock
screen
openswan
ntp
rsyslog
gnupg2
yum-plugin-security
yum-utils
tpm-tools
trousers
which
unzip
bzip2
zip
# SCAP CONTENT
openscap
openscap-utils
xml-common
# OPTIONAL
openssh-clients
cryptsetup-luks
krb5-libs
krb5-workstation
pam_krb5
virt-what
dos2unix
unix2dos
xz
# REMOVE PACKAGES
-abrt*
-iwl*
# ADDITIONAL PACKAGE SELECTION
%include /tmp/hardening-packages
%end

###############################################################################
# Pre-Installation Scripts
###############################################################################
%pre
#!/bin/bash

# Create Configurations
/bin/touch /tmp/hardening
/bin/touch /tmp/partitioning
/bin/touch /tmp/hardening-packages
/bin/touch /tmp/hardening-post
/bin/touch /tmp/hardening-post-nochroot
/bin/touch /tmp/classification-banner

# Launch XWindows and menu.py to configure system
/usr/bin/Xorg -br :0 &
/usr/bin/metacity --display :0 --sm-disable &
export DISPLAY=:0
/usr/bin/python /run/install/repo/hardening/menu.py
unset DISPLAY
killall metacity
killall Xorg

%end

###############################################################################
# Post-Installation Scripts (nochroot)
###############################################################################
%post --nochroot
#!/bin/bash

# Create Directory
mkdir -p /mnt/sysimage/root/hardening

# Copy Shell Scripts from Install media to root
cp /run/install/repo/hardening/*sh /mnt/sysimage/root/hardening/
cp /run/install/repo/hardening/*rpm /mnt/sysimage/root/hardening/

# Classification Banner Configuration
cp /tmp/classification-banner /mnt/sysimage/etc/classification-banner

###############################################################################
# Custom Post-Installation Scripts (nochroot)
###############################################################################
%include /tmp/hardening-post-nochroot

%end

###############################################################################
# Post-Installation Scripts
###############################################################################
%post
#!/bin/bash

# Create Repository for Local Patching
cat << EOF > /etc/yum.repos.d/rhel-dvd.repo
[rhel-dvd]
name=Red Hat Enterprise Linux - DVD
baseurl=file:///media/sr0/
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
EOF

# Add Classification Banner (Graphical)
if [[ -d /etc/xdg/autostart/ ]]; then
cat << EOF > /etc/xdg/autostart/classification-banner.desktop
[Desktop Entry]
Name=Classification Banner
Exec=/usr/local/bin/classification-banner.py
Comment=User Notification for Security Level of System.
Type=Application
Encoding=UTF-8
Version=1.0
MimeType=application/python;
Categories=Utility;
X-GNOME-Autostart-enabled=true
StartupNotify=false
Terminal=false
EOF
fi

# Install Hardening Script
yum localinstall -y /root/hardening/scap-security-guide*el7.noarch.rpm

###############################################################################
# Additional Hardening Supplemental to SSG
###############################################################################
%include /run/install/repo/hardening/ssg-supplemental.sh

###############################################################################
# Custom Post-Installation Scripts - Hardening script now called in menu.py
###############################################################################
%include /tmp/hardening-post

###############################################################################
# Generate SSH Host Keys - Highest Possible Encryption
##############################################################################
ssh-keygen -b 4096 -t rsa -N "" -f /etc/ssh/ssh_host_rsa_key
ssh-keygen -b 1024 -t dsa -N "" -f /etc/ssh/ssh_host_dsa_key
ssh-keygen -b 521 -t ecdsa -N "" -f /etc/ssh/ssh_host_ecdsa_key

# Clean Up
rm -rf /root/hardening

# Clean Yum
yum clean all &> /dev/null

%end
